// views/about.pug
extends layout

block head
  title #{title}

block content
  h1 About Our Company
  p We are a company dedicated to providing awesome services.
  p Founded in 2023, we strive for excellence in everything we do.