extends layout

block head
  // Set the specific title for the home page
  title #{title}

block content
  h1 Welcome to our Application!
  p This is the home page. It uses the shared layout system.
  p Explore the dashboard for more details.